menu "Wifi Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config WIFI_SSID
        string  "SSID of Wifi network"
        default 19 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        default ""
        help
            SSID of Wifi network.

    config WIFI_PASS
        string "Password for Wifi network"
        default ""
        help
            Password for Wifi network.

endmenu
